<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "HipHop.Si" %></title>

  	<%= stylesheet_link_tag    "application", :media => "all" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar">
      <ul class="title-area">
        <li class="name"><h1 class="zg-gumb">&#8804; HipHop.Si &#8805;</h1></li>        
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      
      <section class="top-bar-section top-bg">
        <ul class="left">
          <li class="divider"></li>
          

          <li class="active"><%= link_to "Prva stran", root_path %></li>
          <li class="divider"></li>
        </ul>
     <!--Login with FB-->
        <% if any_user_in %>
        <ul class="right">
            <li class="divider"></li>
            <li><span class="zg-gumb"><p>Hello &raquo;<strong><%= any_user_in.name %></strong></p></span></li>
            <li class="divider"></li>
            <li><%= link_to "Izpiši se", signout_path, id: "sign_out" %></li>
            <li class="divider"></li>
          <% else %> 
        </ul>     
    <!--User registration -->        
        <ul class="right">
          <% if user_signed_in? %>
            <li class="divider"></li> 
            <li><span class="zg-gumb"><p>&#8594; Prijavljeni ste kot  | <strong><%= current_user.email %> &#8629;</strong></p></span></li>
            <li class="divider"></li>
            <li><%= link_to 'Uredi profil', edit_user_registration_path %> </li>
            <li class="divider"></li>
            <li><%= link_to 'Izpiši me', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li class="larger-2"></li>
            <li class="divider"></li> 
            <li><%= link_to 'Registriraj se', new_user_registration_path %></li>
            <li class="divider"></li>    
            <li><%= link_to 'Prijava', new_user_session_path %></li>
            <li class="divider"></li>
            <li><%= link_to "Facebook prijava", "/auth/facebook", id: "sign_in" %></li>
            <li class="divider"></li> 
          <% end %>
        <% end %>   
        </ul>   
        <ul class="left">
          <li class="divider"></li>
          <li>
            <form class="search">
              <div class="row collapse">
                <div class="large-6 large-8 columns">
                  <input type="text" placeholder="Brskaj" />
                </div>

                <div class="large-4 large-2 columns">
                  <a href="#" class="postfix button secondary radius expand">Išči</a>
                </div>
              </div>
            </form>
          </li>
          <li class="divider"></li>  
        </ul>
      </section>    
    </nav>

<!--Konec top bara in navigacije-->
<div class="row">
  <div class="large-4 columns">
    <p>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: "flash_#{name}" %>
      <% end %>
    </p>  
  </div>
</div>

    <%= yield %>

<div class="row">
  <div class="large-6 large-offset-3 columns">
    <div class="panel">
      <h6>spodnji reklamni baner</h6>
    </div>    
  </div>  
</div>

<!--footer-->
<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <p>Spletko.eu &copy; footer</p>
      
    </div>
    
  </div>
  
</div>
    
    <%= javascript_include_tag "application" %>
  </body>
</html>
